@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* { box-sizing: border-box; } 

body {
    background-color: #EEF9BF;
}
.container {
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
}
header h1{
    display: flex;
    justify-content: center;
    margin-top: 27px;
    margin-bottom: 15px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E; 
}
header p {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.004em;
    color: #75B79E; 
}
.span-moves-counter {
    padding-left: 10px;
}
.parrot {
    padding-top: 22px;
    padding-left: 10px;
    padding-right: 7px;
    padding-bottom: 22px;
}
.flip-card-back img{
    width: 117px;
    height: 146px;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 34px;
}
.card {    
    width: 117px;
    height: 146px;
    perspective: 1000px;
    flex-shrink: 0;
}
.card:hover {
    cursor: pointer;
}
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}
.flip-card-front, .flip-card-back {
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
}
.flip-card-back {
    transform: rotateY(180deg);
}
.flippedCard .card-inner {
    transform: rotateY(180deg);
}
.checked .card-inner {
    transform: rotateY(-180deg);
}
.choosing-game-mode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #EEF9BF;

    position: fixed;
    top:0px;
    left: 0px;
    z-index: 3;
}
.choosing-game-mode h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E; 
    margin-bottom: 50px;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.buttons div{
    background-color: #A7E9AF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    margin-right: 25px;
    margin-left: 25px;
    border: 3px solid white;
    flex-shrink: 0;
    border-radius: 10px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E; 
}
.choosing-game-mode .buttons:hover {
    cursor: pointer;
}
.hidden {
    display: none;
}
.middle-game-name::after {
    content: " ";
    white-space: pre;
}
.game-name::after {
    content: " ";
    white-space: pre;
}
.stopwatch {
    margin-right: 20px;
}
.stopwatch-seconds{
    padding-left: 10px;
}
header div {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 560px){
    .choosing-game-mode h1 {
        text-align: center;
        line-height: 55px;
        margin-bottom: 50px;
    }
    .middle-gamemode-span::after {
        content: "\a";
        white-space: pre;
    }
    .middle-gamemode-span::before {
        content: "\a";
        white-space: pre;
    }
    .buttons div {
        margin-bottom: 50px;
    }
    .game-name::after {
        content: "";
        white-space: pre;
    }
    .middle-game-name::after {
        content: "";
        white-space: pre;
    }
    header h1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 470px){
    .buttons {
        flex-direction: column; 
    }
    .buttons div {
        margin-bottom: 30px;
    }
    .choosing-game-mode h1 {
        margin-bottom: 30px;
    }
    main {
        justify-content: center;
    }
}

@media (max-width: 335px){

    header h1{
        font-size: 36px;
        line-height: 42px;
    }
    header p {
        font-size: 17px;
    }
}